---
layout: page
current_page: News &amp; Updates
---

<div class="container-fluid mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.current_page }}</li>
    </ol>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <!-- Table of contents -->
    <nav id="toc" class="col-md-3 mt-5 bd-toc order-2" data-toggle="toc">
      <p class="toc-header">On this page</p>
    </nav>
    <div class="col-md-9 order-1 mb-5" id="content">
      <h1 class="my-3">News &amp; Updates</h1>


      {% for news_item in site.news reversed %}
        {% assign current_date = news_item.date | date: "%Y" %}
        {% if current_date != date %}
          <h2 id="y{{news_item.date | date: "%Y"}}" class="year" data-toc-text="Updates in {{ current_date }}">{{ current_date}}</h2>
          {% assign date = current_date %}
        {% endif %}
          <article class="news-item">
          <h3><a href="{{ news_item.url }}">{{ news_item.title }}</a></h3>
          <time datetime="{{ news_item.date }}">{{ news_item.date | date: "%B %-d, %Y" }}</time>
          <p>
            {{ news_item.content | split:'<!-- break -->' | first }}
          </p>

          {% if news_item.content contains '<!-- break -->' %}
          <p><a href="{{ news_item.url }}">Read more...</a></p>
          {% endif %}
          </article>
      {% endfor %}


      <a href="#content">Return to top</a>
    </div>
  </div>
</div>