/data/*.db
/data/redis
/data/pg
/tmp
.env.local
.env.*.local
**/.DS_Store
.vscode/*
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea
/dashboard/data/*.db
/_site/

/coverage
/spec/examples.txt
/docs/yard
.yardoc
node_modules
/resources

**.jekyll-cache