---
layout: page
current_page: Events
---

<div class="container-fluid mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.current_page }}</li>
    </ol>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <!-- Table of contents -->
    <nav id="toc" class="col-md-3 mt-5 bd-toc order-2" data-toggle="toc">
      <p class="toc-header">On this page</p>
    </nav>
    <div class="col-md-9 order-1 mb-5" id="content">
      <h1 class="my-3">Events</h1>

      {% assign current_date = site.time | date: '%s' | plus: 0%}

      <section class="upcoming-events">
        <h2 class="year">Upcoming Events</h2>

        {% assign event_count = 0 %}
        {% for event in site.data.events.event_list reversed %}
        {% assign event_date = event.date | date: '%s' %}
        {% assign event_expire_date = event_date | plus: 86400 %}
        {% if event_expire_date >= current_date %}
        {% assign event_count = event_count|plus:1 %}
        <article class="event-item">
          <time class="calendardate" datetime="{{ event.date }}">
            <span class="calendardate-day">{{ event.day }}</span>
            <span class="calendardate-month">{{ event.month | truncate: 3, "" }}</span>
          </time>
          {% include event_text.html %}
        </article>
        {% endif %}
        {% endfor %}
        {% if event_count == 0 %}
        <div class="no-news-or-events">
          No upcoming events are scheduled.
        </div>
        {% endif %}
      </section>

      <section class="past-events">
        <h2 class="year">Past Events</h2>
        {% assign event_count = 0 %}
        {% for event in site.data.events.event_list %}
        {% assign event_date = event.date | date: '%s' %}
        {% assign event_expire_date = event_date | plus: 86400 %}
        {% if current_date > event_expire_date %}
        {% assign event_count = event_count|plus:1 %}
        <article class="event-item">
          {% include event_text.html %}
        </article>
        {% endif %}
        {% endfor %}
        {% if event_count == 0 %}
        <div class="no-news-or-events">
          No events have occurred.
        </div>
        {% endif %}
      </section>

      <a href="#content">Return to top</a>
    </div>
  </div>
</div>