<footer class="py-4 mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4 data-toc-skip>Contact Us</h4>
        <p>Describe how to contact the team that manages this site here</p>
      </div>
      <div class="col-sm-6">
        <div class="footer-logo">
          <a target="_blank" href="https://inferno-framework.github.io">
            <div class="built-with">
              Built with
            </div>
            <img src="/assets/images/inferno_logo.png" width="130px">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>