<!-- Info Modal -->
<div class="modal fade" id="maturity-info-modal" tabindex="-1" aria-labelledby="maturity-info-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="maturity-info-modal-label">About Test Kit Maturity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Test Kits are broadly grouped into three levels of maturity:
          <strong>High</strong>, <strong>Moderate</strong>, and
          <strong>Low</strong>.  This is intended to provide guidance to users
          on the level of confidence they should place in the accuracy and
          completeness of these tests.
        </p>
        <p>
          <strong>High</strong> maturity Test Kits typically have been
          used to test many different systems against a stable specification
          that has limited ambiguity.
        </p>
        <p>
          <strong>Moderate</strong> and <strong>Low</strong> maturity Test Kits typically have
          not had widespread usage and/or are targeting less mature
          specifications that contain ambiguous or conflicting information.
          These Test Kits are still of value to implementers, but they should be
          aware of potential issues and are encouraged to contact the team with
          problems as they arise.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>