---
layout: page
---
<div class="container-fluid mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/news">News &amp; Updates</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <nav id="toc" class="col-md-3 mt-5 bd-toc order-2" data-toggle="toc">
      <p class="toc-header">On this page</p>
    </nav>
    <div class="col-9">
      <h1 class="mt-3">{{ page.title }}</h1>
      <h5 data-toc-skip class="mb-4">{{ page.date | date: "%B %-d, %Y" }}</h5>
      {{ content }}
      <a href="/news">Return to News</a>
    </div>
  </div>
</div>
