---
layout: page
---

<div class="container-fluid mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/test-kits">Test Kits</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</div>

{% include toast.html %}

<div class="container-fluid">
  <h1 class="mt-4 mb-1">{{ page.title }}</h1>
  <div class="col-8 date-version-header">
    {% if page.date %}
    <time datetime="{{ page.date | date: '%m/%d/%Y'}}" class="last-updated">
      <b>Last Updated:</b> {{ page.date | date: "%B %-d, %Y" }}
    </time>
    {% endif %}
    {% if page.version %}
    <div class="version"><b>Test Kit Version:</b> {{ page.version }}</div>
    {% endif %}
    {% if page.maturity %}
    <div class="maturity"><b>Maturity:</b> {{ page.maturity }}
      <a href="#" data-bs-toggle="modal" data-bs-target="#maturity-info-modal" title="About Maturity"><i
          class="bi bi-question-circle"></i></a>
    </div>
    {% endif %}
  </div>
  <div>
    {% if page.tags %}
    <div class="tags mb-4">
      {% for tag in page.tags %}
      <div class="tag">{{ tag }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div id="left-column">
      {{ content }}
    </div>
    <div id="right-column">
      <div class="form-container">
        <form id="start-testing-form">
          <h2 class="text-center fw-normal text-muted">Start Testing</h2>
          <fieldset class="mb-3" {% if page.suites==nil or page.suites.size < 2 %}style="display:none" {% endif %}>
            <legend class="form-title fs-6">Test Suite</legend>
            {% for suite in page.suites %}
            <div class="form-check">
              {% if forloop.first or suite.default %}
              <input class="form-check-input" type="radio" name="suite" id="{{ suite.id }}" value="{{ suite.id }}"
                checked>
              {% else %}
              <input class="form-check-input" type="radio" name="suite" id="{{ suite.id }}" value="{{ suite.id }}">
              {% endif %}
              <label class="form-check-label" for="{{ suite.id }}">
                {{ suite.title }}
              </label>
            </div>
            {% endfor %}
          </fieldset>
          {% for option_group in page.option_groups %}
          <fieldset class="option-group mb-3" style="display: none"
            data-option-group-for-suites="{{ option_group.suites | join: " ," }}">
            <legend class="form-title fs-6">{{ option_group.title }}</legend>
            {% for option in option_group.options %}
            <div class="form-check">
              {% if forloop.first or option.default %}
              <input class="form-check-input" type="radio" name="{{ option_group.id }}" id="{{ option.value }}"
                value="{{ option.value }}" checked>
              {% else %}
              <input class="form-check-input" type="radio" name="{{ option_group.id }}" id="{{ option.value }}"
                value="{{ option.value }}">
              {% endif %}
              <label class="form-check-label" for="{{ option.value }}">
                {{ option.label }}
              </label>
            </div>
            {% endfor %}
          </fieldset>
          {% endfor %}

          <!-- Submit Button -->
          <a class="btn btn-primary start-testing-button w-100" id="start-testing-button">
            <i class="bi bi-plus-circle"></i>
            Create Test Session
          </a>
        </form>
      </div>
      <div class="mt-4">
        {% include recent_sessions.html %}
      </div>
    </div>
  </div>
</div>

{% include maturity_info.html %}

<script>
  // Hook up the start testing button with the function
  $('#start-testing-button').click(() => {
    createSession();
  });

  // Handle hiding/unhiding the options depending on which suite is selected
  // Note that if there is only 1 suite, it won't show up for users
  // but it is still there.
  // Also force triggering this on load so if initial suite select has
  // options, those get opened

  $('#start-testing-form input[type=radio][name=suite]').change(function () {
    const newSuite = this.value;

    $("#start-testing-form .option-group").css("display", "none");

    $("#start-testing-form .option-group").filter((index, el) => {
      const forSuites = $(el).data('option-group-for-suites');
      return forSuites.length === 0 || forSuites.split(",").indexOf(newSuite) > -1;

    }).css("display", "");

  }).filter(":checked").trigger('change');

  /* Recent Sessions */
  const suiteIds = ('{{ page.suites | map: "id" | join: ","  }}').split(',');
  const recentSessions = getSessions()
    .filter((session) => suiteIds.includes(session.id))
    .slice(0, 5); // limit to 5 sessions

  const emptySessions = document.getElementById('empty-sessions');
  showElement(recentSessions.length <= 0, emptySessions);

  const sessionsContainer = document.getElementById('sessions-container');
  showElement(recentSessions.length > 0, sessionsContainer);

  populateSessions(recentSessions, 'sessions-container');

  /* Full page vs narrow page styles */
  const leftColumn = document.getElementById('left-column');
  const rightColumn = document.getElementById('right-column');

  const updateStyles = () => {
    let fullView = window.innerWidth >= 500; // narrow view width threshold

    if (fullView) {
      leftColumn.classList.add('col-8');
      rightColumn.classList.add('col-4');

      leftColumn.classList.remove('second');
      rightColumn.classList.remove('first');
    } else {
      leftColumn.classList.remove('col-8');
      rightColumn.classList.remove('col-4');

      leftColumn.classList.add('second');
      rightColumn.classList.add('first');
    }
  };

  // Debounce resize listener
  let timeout = false; // holder for timeout id
  let delay = 200; // delay after event is "complete" to run callback

  addEventListener('resize', (event) => {
    // clear the timeout
    clearTimeout(timeout);
    // start timing for event "completion"
    timeout = setTimeout(updateStyles, delay);
  });

  updateStyles();
</script>

<style>
  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .form-container {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px 20px;
    /* Reduced top padding from 20px to 10px */
  }

  .form-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #777;
    margin-bottom: 10px;
  }

  .tag {
    font-size: 0.9rem;
    margin-right: 10px;
    padding: 2px 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
    display: inline-block;
  }

  .date-version-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-style: italic;
    padding-bottom: 10px;
  }
</style>