---
layout: page
current_page: Test Kits
---

<div class="container-fluid mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.current_page }}</li>
    </ol>
  </nav>
</div>

{% assign test_kits = site.test_kits | reverse %}

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-8 col-md-8 mb-5" id="content">

      <div class="row align-items-end mb-3">
        <div class="col-md-6 my-1">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search Hosted Test Kits" id="text-filter">
          </div>
        </div>
        {% if site.test_kit_tags %}
        <div class="col-md-3 my-1">
          <div class="form-floating">
            <select class="form-select" id="fhir-filter" onchange="filterTag()">
              {% assign sortedTags = site.test_kit_tags | sort: "name" %}
              <option value="All Tags" selected>
                All Tags
              </option>
              {% for tag in sortedTags %}
              <option value="{{ tag }}">
                {{ tag }}
              </option>
              {% endfor %}
            </select>
            <label for="fhir-filter">Tags</label>
          </div>
        </div>
        {% endif %}

        <div class="col-md-3 my-1">
          <div class="form-floating">
            <select class="form-select" id="maturity-filter" onchange="filterMaturity()">
              <option selected>All Levels</option>
              <option value="high">High</option>
              <option value="moderate">Moderate</option>
              <option value="low">Low</option>
            </select>
            <label for="maturity-filter">Test Kit Maturity</label>
          </div>
        </div>
      </div>
      {% for test_kit in test_kits%}
      {% if site.pinned_test_kits contains test_kit.test_kit_id %}
      <div class="product-card pinned" name="test-kit">
        <a href="{{ test_kit.id }}" class="title">{{ test_kit.title }}</a>
        <p class="description">{{ test_kit.content | split:'<!-- break -->' | first }}</p>
        <div class="card-footer">
          <ul class="tags">
            {% for tag in test_kit.tags %}
            <li class="tag">{{ tag }}</li>
            {% endfor %}
          </ul>
          <div>
            {% if test_kit.date %}
            <time datetime="{{ test_kit.date | date: '%m/%d/%Y'}}" class="last-updated">
              <b>Updated:</b> {{ test_kit.date | date: "%m/%d/%Y" }}
            </time>
            {% endif %}
            {% if test_kit.version %}
            <div class="version"><b>Version:</b> {{ test_kit.version }}</div>
            {% endif %}
            {% if test_kit.maturity %}
            <div class="maturity">
              <b>Maturity:</b> {{ test_kit.maturity }}
              <a href="#" data-bs-toggle="modal" data-bs-target="#maturity-info-modal" title="About Maturity"><i
                  class="bi bi-question-circle"></i></a>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- Pin icon -->
        <i class="bi bi-pin-fill position-absolute top-0 end-0 mt-2 me-2 pin-icon"></i>
      </div>
      {% endif %}
      {% endfor %}


      <!-- search bar -->

      {% for test_kit in test_kits %}
      {% unless site.pinned_test_kits contains test_kit.test_kit_id %}
      <div class="product-card" name="test-kit">
        <a href="{{ test_kit.id }}" class="title">{{ test_kit.title }}</a>
        <p class="description">{{ test_kit.content | split:'<!-- break -->' | first }}</p>

        <div class="card-footer">
          <ul class="tags">
            {% for tag in test_kit.tags %}
            <li class="tag">{{ tag }}</li>
            {% endfor %}
          </ul>
          <div>
            {% if test_kit.date %}
            <time datetime="{{ test_kit.date | date: '%m/%d/%Y'}}" class="last-updated">
              <b>Updated:</b> {{ test_kit.date | date: "%m/%d/%Y" }}
            </time>
            {% endif %}
            {% if test_kit.version %}
            <div class="version"><b>Version:</b> {{ test_kit.version }}</div>
            {% endif %}
            {% if test_kit.maturity %}
            <div class="maturity">
              <b>Maturity:</b> {{ test_kit.maturity }}
              <a href="#" data-bs-toggle="modal" data-bs-target="#maturity-info-modal" title="About Maturity"><i
                  class="bi bi-question-circle"></i></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endunless %}
      {% endfor %}

      <a href="#content">Return to top</a>

    </div><!-- end col -->
    <!-- Sidebar -->
    <div class="col-lg-4 col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3>Select a Test Kit to Start Testing</h3>
          <p>
            Inferno tests are grouped into Test Kits, which
            are pre-configured test suites and validators
            that target specific certification criterion
            or FHIR Implementation Guides. Choose a Test Kit
            that applies to your systems to get started.
          </p>
          <p>
            <a href="/about#test-kits">More information</a>
          </p>
        </div>
      </div>

      {% include recent_sessions.html %}

    </div>
  </div>
</div>

{% include maturity_info.html %}

<script>
  /* Sorting and Filtering */
  // Set filter values
  let textInput = '';
  let standardInput = '';
  let maturityInput = '';

  document.getElementById('text-filter').addEventListener('input', () => {
    textInput = document.getElementById('text-filter').value.toLowerCase().trim();
    filterAll(textInput, standardInput, maturityInput);
  });

  document.getElementById('fhir-filter').addEventListener('input', (e) => {
    $.each(e.target.selectedOptions, (index, obj) => {
      standardInput = obj.innerText.trim();
    });
    filterAll(textInput, standardInput, maturityInput);
  });

  document.getElementById('maturity-filter').addEventListener('input', (e) => {
    $.each(e.target.selectedOptions, (index, obj) => {
      maturityInput = obj.innerText.trim();
    });
    filterAll(textInput, standardInput, maturityInput);
  });

  /* Recent Sessions */
  const recentSessions = getSessions().slice(0, 5); // limit to 5 sessions

  const emptySessions = document.getElementById('empty-sessions');
  showElement(recentSessions.length <= 0, emptySessions);

  const sessionsContainer = document.getElementById('sessions-container');
  showElement(recentSessions.length > 0, sessionsContainer);

  populateSessions(recentSessions, 'sessions-container');
</script>

<style>
  /* Custom styles */
  .filter-group {
    margin-bottom: 20px;
  }

  .filter-group .form-check {
    margin-right: 20px;
  }

  .filter-group .form-check-label {
    font-weight: normal;
  }

  .start-testing-button {
    margin-top: 10px;
  }

  .filter-bar {
    background-color: var(--filter-bar-bkg);
    padding: 10px;
    border: 1px solid #ddd;
  }

  .filter-bar .title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .filter-bar .filter-label {
    font-size: 0.9rem;
    margin-right: 10px;
    padding: 2px 5px;
    background-color: var(--filter-label-bkg);
    border-radius: 4px;
  }

  .filter-bar .form-check {
    margin-bottom: 5px;
  }

  .last-updated,
  .version {
    margin-right: 10px;
  }

  .pin-icon {
    font-size: 24px;
    /* Increase the size of the icon */
    transform: rotate(45deg);
    /* Rotate the icon by 45 degrees */
  }

  ul.tags {
    padding-left: 0;
    margin-bottom: 0;
  }

  ul.tags>li {
    margin-top: 0.5rem;
  }

  .tag {
    font-size: 0.9rem;
    margin-right: 10px;
    padding: 2px 5px;
    background-color: var(--tag-bkg);
    border-radius: 4px;
    display: inline-block;
  }
</style>

</body>

</html>