---
layout: page
title: Home
---

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-7 col-md-6 align-items-center quick-links">
      <h2 class="display-4 banner-header my-4">{{ site.title }}</h2>
      <h3 class="font-weight-light my-4">{{ site.subtitle }}</h3>
      <p class="lead mb-2">
        {{ site.description }}
      </p>
      <div class="text-center mt-4">
        <a href="/about" class="btn btn-outline-primary">
          Learn More
        </a>

        <a href="/test-kits" class="btn btn-primary mx-2">
          Start Testing Now
        </a>
      </div>
    </div>

    {% if site.quick_links %}
    <div class="col-lg-5 col-md-6 test-kit-column">
      <div class="test-kit-section">
        <section>
          {% for quick_link in site.quick_links %}
          <div class="test-kit">
            <h5>{{ quick_link.title }}</h5>
            <p>{{ quick_link.description }}</p>
            <div class="text-center mt-4">
              <a href="{{ quick_link.link_href }}" class="btn btn-secondary">{{ quick_link.link_text }}</a>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<section class="news-and-events">
  <div class="container-fluid">
    <div class="row">
      <!-- News and Updates column -->
      <div class="col-lg-7 col-md-6">
        <h2>News and Updates</h2>
        <section class="recent-news-items">
          {% assign news_items = site.news | reverse %}
          {% assign news_count = 0 %}
          {% for news_item in news_items limit: 3 %}
          {% assign news_count = news_count|plus:1 %}

          <article class="news-item">
            <h3><a href="{{ news_item.url }}">{{ news_item.title }}</a></h3>
            <time datetime="{{ news_item.date }}">{{ news_item.date | date: "%B %-d, %Y" }}</time>
            <p>{{ news_item.content | split:'<!-- break -->' | first }}</p>
            {% if news_item.content contains '<!-- break -->' %}
            <p><a href="{{ news_item.url }}">Read more...</a></p>
            {% endif %}
          </article>
          {% endfor %}
        </section>
        {% if news_count == 0 %}
        <div class="no-news-or-events">No recent news to report.</div>
        {% endif %}
        <div class="text-end view-all"><a href="/news">View more news and updates</a></div>
      </div>
      <div class="col-lg-5 col-md-6">
        <h2>Upcoming Events</h2>
        <div class="upcoming-events">
          {% assign event_count = 0 %}
          {% assign curDate = site.time | date: '%s' | plus: 0%}
          {% for event in site.data.events.event_list reversed %}
          {% assign eventDate = event.date | date: '%s' %}
          {% assign eventExpireDate = eventDate | plus: 86400 %}
          {% if curDate < eventExpireDate %}
          {% assign event_count = event_count|plus:1 %}
          <article class="event-item">
            <time class="calendardate" datetime="{{ event.date }}">
              <span class="calendardate-day">{{ event.day }}</span>
              <span class="calendardate-month">{{ event.month | truncate: 3, "" }}</span>
            </time>
            <div class="event-detail">
              <h3>
                {{ event.name }}
              </h3>

              {% if event.description %}
              <p>{{ event.description }}</p>
              {% endif %}

              {% if event.time %}
              <time datetime="{{ event.datetime }}">
                <i class="bi bi-clock"></i>
                {{ event.time }}
              </time>
              {% endif %}

              {% if event.location %}
              <div>
                <i class="bi bi-geo-alt"></i>
                <a href="{{ event.location.url }}">
                  {{ event.location.name }}
                </a>
              </div>
              {% endif %}
            </div>
            </article>
            {% endif %}
            {% endfor %}

            {% if event_count == 0 %}
            <div class="no-news-or-events">No events are currently scheduled.</div>
            {% endif %}
        </div>
        <div class="text-end view-all"><a href="/events">View all events</a></div>
      </div>
    </div>
  </div>
</section>